<div class="container shadow p-5 my-5 rounded-3" style="background-color: rgb(255,255,255);">
    <div class="row">
        <div class="col-12 col-md-8 cart-product-wrapper px-5 justify-content-center">

            <div class="cart-product row py-4">
                <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
                    <a href="#">
                        <img src="https://picsum.photos/200/220" alt="" class="rounded img-fluid">
                    </a>
                </div>
                <div class="col-12 col-lg-5 d-flex mb-3 justify-content-center align-self-center">
                    <div>
                        <a class="d-block mb-2 text-nowrap cart-product-text" routerLink="/viewproduct">Nombre Del Producto</a>
                        <strong class="text-muted d-block mb-2 text-center text-lg-start">$100.00</strong>
                        <div class="d-block mb-2">
                            <label for="cantidadinput" class="form-label d-inline me-3">Cantidad:</label>
                            <input type="number" class="form-control cantidadNumber d-inline" id="cantidadinput" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 ms-auto d-flex justify-content-center">
                    <div>
                        <a href="#" routerLink="/viewcart" class="btn btn-outline-danger btn-drop btn-sm">Eliminar</a>
                    </div>
                </div>
            </div>

            <div class="cart-product row py-4">
                <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
                    <a href="#">
                        <img src="https://picsum.photos/200/220" alt="" class="rounded img-fluid">
                    </a>
                </div>
                <div class="col-12 col-lg-5 d-flex mb-3 justify-content-center align-self-center">
                    <div>
                        <a class="d-block mb-2 text-nowrap cart-product-text" routerLink="/viewproduct">Nombre Del Producto</a>
                        <strong class="text-muted d-block mb-2 text-center text-lg-start">$100.00</strong>
                        <div class="d-block mb-2">
                            <label for="cantidadinput" class="form-label d-inline me-3">Cantidad:</label>
                            <input type="number" class="form-control cantidadNumber d-inline" id="cantidadinput" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 ms-auto d-flex justify-content-center">
                    <div>
                        <a href="#" routerLink="/viewcart" class="btn btn-outline-danger btn-drop btn-sm">Eliminar</a>
                    </div>
                </div>
            </div>

            <div class="cart-product row py-4">
                <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
                    <a href="#">
                        <img src="https://picsum.photos/200/220" alt="" class="rounded img-fluid">
                    </a>
                </div>
                <div class="col-12 col-lg-5 d-flex mb-3 justify-content-center align-self-center">
                    <div>
                        <a class="d-block mb-2 text-nowrap cart-product-text" routerLink="/viewproduct">Nombre Del Producto</a>
                        <strong class="text-muted d-block mb-2 text-center text-lg-start">$100.00</strong>
                        <div class="d-block mb-2">
                            <label for="cantidadinput" class="form-label d-inline me-3">Cantidad:</label>
                            <input type="number" class="form-control cantidadNumber d-inline" id="cantidadinput" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 ms-auto d-flex justify-content-center">
                    <div>
                        <a href="#" routerLink="/viewcart" class="btn btn-outline-danger btn-drop btn-sm">Eliminar</a>
                    </div>
                </div>
            </div>

            <div class="cart-product row py-4">
                <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
                    <a href="#">
                        <img src="https://picsum.photos/200/220" alt="" class="rounded img-fluid">
                    </a>
                </div>
                <div class="col-12 col-lg-5 d-flex mb-3 justify-content-center align-self-center">
                    <div>
                        <a class="d-block mb-2 text-nowrap cart-product-text" href="#">Nombre Del Producto</a>
                        <strong class="text-muted d-block mb-2 text-center text-lg-start">$100.00</strong>
                        <div class="d-block mb-2">
                            <label for="cantidadinput" class="form-label d-inline me-3">Cantidad:</label>
                            <input type="number" class="form-control cantidadNumber d-inline" id="cantidadinput" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 ms-auto d-flex justify-content-center">
                    <div>
                        <a href="#" routerLink="/viewcart" class="btn btn-outline-danger btn-drop btn-sm">Eliminar</a>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="col-12 col-md-4 border border-2 p-5 align-self-start">
            <div class="row border-bottom mb-3">
                <div class="col text-center">
                    <div class="d-block mb-4">
                        <h6 class="fw-light">Subtotal:</h6>
                        <h5 class="fw-normal">$245.00</h5>
                    </div>
                    <div class="d-block">
                        <h6 class="fw-light">Envio:</h6>
                        <h5 class="fw-bolder">$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="row border-bottom mb-3">
                <div class="col text-center">
                    <h3 class="fw-light">Total:</h3>
                    <h2>$275.00</h2>
                </div>
            </div>
            <div class="row border-bottom mb-3">
                <div class="col d-none d-lg-block text-center py-4">
                    <h4 class="fw-normal">Canjear Cupon De Descuento</h4>
                    <form action="" class="mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cupon">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success">Canjear</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col d-block d-lg-none text-center py-4">
                    <h4 class="fw-normal mb-4">Canjear Cupon De Descuento</h4>
                    <form action="" class="mb-3">
                        <input type="text" class="form-control mb-3" placeholder="Cupon">
                        <button class="btn btn-outline-success">Canjear</button>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Checkout" routerLink="/checkout" class="btn btn-purple">
            </div>
        </div>
    </div>
</div>
