.banner-store{
    position: relative;
    .cover-store{
        width: 100%;
        height: 20rem;
        position: absolute;
    }
}
.store{
    position: relative;
    padding-top:17%;
    .store-img{
        .img-thumbnail{
            padding: 0.18rem;
            background-color: #ededed;
        }
    }
}
@media (max-width: 1400px) {
    .store{
        padding-top:20%;
    }
}
@media (max-width: 1200px) {
    .store{
        padding-top:30%;
    }
}

.some-products{
    .product-card{
        border: 0;
        padding: 0;
        transition: all .15s ease-in-out;
        &:hover{
            box-shadow: 0 5rem 1.5rem 0.1rem rgba(rgb(0,0,0), .09);
            z-index: 10;
            .product-card-actions .btn-action {
              opacity: 1;
              visibility: visible;
              border: none;
            }
            .card-body-hidden {
              opacity: 1;
              visibility: visible;
            }
        }
        .card-img-top{
            text-align: center;
            img{
                max-height: 150px;
            }
        }
    
        .product-subcategory{
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            transition: color .25s ease-in-out;
            color: #7d879c;
            font-size: 0.75rem !important;
            text-decoration: none !important;
        }
        .product-title > a{
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            font-size: 0.85rem !important;
            transition: color .25s ease-in-out;
            color: #373f50;
            text-decoration: none !important;
            font-weight: 700;
            &:hover{
                color: #9100d4;
                text-decoration: none;
            }
        }
        .product-price{
            span, small{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: #373f50;
            }
        }
        .card-body-hidden {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            margin-top: -0.5rem;
            transition: all .15s ease-in-out;
            border-radius: .4375rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            .btn-vista{
                font-size: 0.8125rem !important;
                color: #4b566b;
                text-decoration: none;
            }
        }
    }
    
    .btn-outline-secondary{
        &:focus {
            border-color: rgb(200,200,200);
            box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
        }
    }
}
