<div class="container-lg shadow p-0 my-lg-5 rounded-3 animate__animated animate__zoomIn" style="background-color: rgb(255,255,255);">

    <!--Cabecera para Desktop-->
    <div class="d-none d-lg-block">
        <div class="banner-store rounded-3">
            <img src="../../../../../assets/images/cover-store.jpg" alt="" class="cover-store rounded-3">
        </div>
        <div class="store ms-5">
            <div class="store-img">
                <img src="../../../../../assets/images/profile-store.jpg" class="img-fluid img-thumbnail" alt="Foto De Tienda" width="300" height="300">
                <div class="store-info d-inline-flex ms-4">
                    <div class="mb-5">
                        <strong class="d-block fs-3">NOMBRE DE LA TIENDA</strong>
                        <strong class="d-block mt-4"><i class="bi bi-file-person-fill"></i> Acerca De: <small class="text-muted fs-6 font-monospace">INFORMACION ACERCA DE LA EMPRESA</small></strong>
                        <strong class="d-block"><i class="bi bi-telephone-fill"></i> Telefono: <small class="text-muted fs-6 font-monospace">5514778924</small></strong>
                        <strong class="d-block"><i class="bi bi-envelope-fill"></i> Email: <small class="text-muted fs-6 font-monospace">correo-electronico@mail.com</small></strong>
                        <strong class="d-block"><i class="bi bi-geo-alt-fill"></i> Ubicacion: <small class="text-muted fs-6 font-monospace">UBICACION DE LA EMPRESA</small></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>     

    <!--Cabecera para Movil-->
    <div class="d-block d-lg-none">
        <div class="banner-store rounded-3 ">
            <img src="../../../../../assets/images/cover-store.jpg" alt="" class="cover-store rounded-3">
        </div>
        <div class="store text-center">
            <div class="store-img">
                <img src="../../../../../assets/images/profile-store.jpg" class="img-fluid img-thumbnail" alt="Foto De Tienda" width="300" height="300">
                <div class="store-info">
                    <div class="mt-4">
                        <strong class="d-block fs-3">NOMBRE DE LA TIENDA</strong>
                        <strong class="d-block mt-4"><i class="bi bi-file-person-fill"></i> Acerca De: <small class="text-muted fs-6 font-monospace">INFORMACION ACERCA DE LA EMPRESA</small></strong>
                        <strong class="d-block"><i class="bi bi-telephone-fill"></i> Telefono: <small class="text-muted fs-6 font-monospace">5514778924</small></strong>
                        <strong class="d-block"><i class="bi bi-envelope-fill"></i> Email: <small class="text-muted fs-6 font-monospace">correo-electronico@mail.com</small></strong>
                        <strong class="d-block"><i class="bi bi-geo-alt-fill"></i> Ubicacion: <small class="text-muted fs-6 font-monospace">UBICACION DE LA EMPRESA</small></strong>
                    </div>
                </div>
            </div>
        </div>  
    </div>


        
    <div class="container p-0 p-md-5 some-products">
        <div class="row mb-5">
            <div class="d-flex flex-wrap justify-content-start align-items-center border-bottom">
                <h2>Mas Vendidos</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/64.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
                    <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/viewproducts">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="d-flex flex-wrap justify-content-start align-items-center border-bottom">
                <h2>Servicios</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/64.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
                    <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/viewproducts">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="d-flex flex-wrap justify-content-start align-items-center border-bottom">
                <h2>Productos</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                    <div class="card product-card">

                        <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/64.jpg" alt="Product"></a>
                       
                        <div class="card-body py-2">
                            <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                            <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                            <div>
                                <div class="product-price  d-block"><span>$198.00</span></div>
                            </div>
                        </div>
                        
                        <div class="card-body card-body-hidden">
                          <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                          <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
                    <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/viewproducts">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-quick-view></app-quick-view>