<div class="container-fluid"> 
    <div class="row pt-0 pt-sm-5 d-flex justify-content-center">

        <div class="col-12 col-sm-auto barra-lateral me-0 me-md-5 animate__animated animate__fadeInLeft animate__faster">
            <div class="logo mb-4">
                <h2 class="fw-bolder text-center">Mi Cuenta</h2>
            </div>
            <ul class="nav menu d-flex d-sm-block justify-content-center flex-wrap" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/home']" [routerLinkActive]="'active'"><i class="fas fa-home me-4" ></i><span>Inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/profile']" [routerLinkActive]="'active'"><i class="fas fa-address-card me-4"></i><span>Editar Información</span></a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/favs']" [routerLinkActive]="'active'"><i class="fas fa-star me-4"></i><span>Favoritos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/messages']" [routerLinkActive]="'active'"><i class="fas fa-comments me-4"></i><span>Mensajes</span></a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/shoppinghistory']" [routerLinkActive]="'active'"><i class="fas fa-shopping-cart me-4"></i><span>Historial De Compras</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/products']" [routerLinkActive]="'active'"><i class="fas fa-tshirt me-4"></i><span>Productos</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/saleshistory']" [routerLinkActive]="'active'"><i class="fas fa-cash-register me-4"></i><span>Historial De Ventas</span></a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/accountview/associates']" [routerLinkActive]="'active'"><i class="fas fa-users me-4"></i><span>Asociados</span></a>
                </li>    
                -->
                <li class="nav-item">
                    <a href="#" routerLink="/main" (click)="logout()" class="nav-link"><i class="fas fa-sign-out-alt me-4" (click)="logout()"></i><span>Salir</span></a>
                </li>
            </ul>
        </div>


        <div class="col-12 col-sm-10 col-lg-9 px-3 px-md-0 pb-5">

            <div class="shadow-lg rounded-3" style="background-color: rgb(255,255,255);">
                <div class="p-3 p-lg-5">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>

    </div>
</div>
