<div class="row">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 px-4 mb-4">
        <h2>Recien Agregados</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
            <div class="card product-card">
                <div class="product-card-actions d-flex justify-content-end align-items-center">
                    <button type="button" class="btn-wishlist btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar a Favoritos"><i class="bi bi-bookmark-heart-fill"></i></button>
                </div>
                
                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
               
                <div class="card-body py-2">
                    <a class="product-subcategory d-block pb-1" href="#">Subcategoria</a>
                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                    <div class="">
                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                        <div class="star-rating  d-block"><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i><i class="star-rating-icon bi bi-star-fill active"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body card-body-hidden">
                  <button class="btn btn-purple btn-sm d-block w-100 mb-2" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar</button>
                  <div class="text-center"><a class="btn-vista" href="#quick-view-electro" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
            <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/viewproducts">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
        </div>
    </div>
</div>




