<div>
    <div class="container-fluid shadow rounded-3" style="background-color: #ffff;">
        <div class="row d-flex justify-content-center gx-5 p-5">

            <div class="col-2 border rounded-3 py-3 animate__animated animate__fadeInLeft animate__faster d-none d-xl-block">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h4>Filtros</h4>
                        <hr>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA">
                            <label class="form-check-label filter-name" for="flexCheckA">
                              Filtro 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA-2">
                            <label class="form-check-label filter-name" for="flexCheckA-2">
                              Filtro 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA-3">
                            <label class="form-check-label filter-name" for="flexCheckA-3">
                              Filtro 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA-4">
                            <label class="form-check-label filter-name" for="flexCheckA-4">
                              Filtro 4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA-5">
                            <label class="form-check-label filter-name" for="flexCheckA-5">
                              Filtro 5
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckA-6">
                            <label class="form-check-label filter-name" for="flexCheckA-6">
                              Filtro 6
                            </label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <h4 class="mt-5">Filtros</h4>
                        <hr>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioA" name="radiosFiltersA">
                            <label class="form-check-label" for="flexRadioA">
                                Opcion 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioA2" name="radiosFiltersA">
                            <label class="form-check-label" for="flexRadioA2">
                                Opcion 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioA3" name="radiosFiltersA">
                            <label class="form-check-label" for="flexRadioA3">
                                Opcion 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioA4" name="radiosFiltersA">
                            <label class="form-check-label" for="flexRadioA4">
                                Opcion 4
                            </label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <h4 class="mt-5">Filtros</h4>
                        <hr>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB">
                            <label class="form-check-label filter-name" for="flexCheckB">
                              Filtro 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB-2">
                            <label class="form-check-label filter-name" for="flexCheckB-2">
                              Filtro 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB-3">
                            <label class="form-check-label filter-name" for="flexCheckB-3">
                              Filtro 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB-4">
                            <label class="form-check-label filter-name" for="flexCheckB-4">
                              Filtro 4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB-5">
                            <label class="form-check-label filter-name" for="flexCheckB-5">
                              Filtro 5
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckB-6">
                            <label class="form-check-label filter-name" for="flexCheckB-6">
                              Filtro 6
                            </label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <h4 class="mt-5">Filtros</h4>
                        <hr>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioB" name="radiosFiltersB">
                            <label class="form-check-label" for="flexRadioB">
                                Opcion 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioB2" name="radiosFiltersB">
                            <label class="form-check-label" for="flexRadioB2">
                                Opcion 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioB3" name="radiosFiltersB">
                            <label class="form-check-label" for="flexRadioB3">
                                Opcion 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioB4" name="radiosFiltersB">
                            <label class="form-check-label" for="flexRadioB4">
                                Opcion 4
                            </label>
                        </div>
                    </li>
                </ul>

            </div>


            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrolling">
                <div class="offcanvas-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <h4>Filtros</h4>
                            <hr>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA">
                                <label class="form-check-label filter-name" for="flexCheckA">
                                  Filtro 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA-2">
                                <label class="form-check-label filter-name" for="flexCheckA-2">
                                  Filtro 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA-3">
                                <label class="form-check-label filter-name" for="flexCheckA-3">
                                  Filtro 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA-4">
                                <label class="form-check-label filter-name" for="flexCheckA-4">
                                  Filtro 4
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA-5">
                                <label class="form-check-label filter-name" for="flexCheckA-5">
                                  Filtro 5
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckA-6">
                                <label class="form-check-label filter-name" for="flexCheckA-6">
                                  Filtro 6
                                </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <h4 class="mt-5">Filtros</h4>
                            <hr>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioA" name="radiosFiltersA">
                                <label class="form-check-label" for="flexRadioA">
                                    Opcion 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioA2" name="radiosFiltersA">
                                <label class="form-check-label" for="flexRadioA2">
                                    Opcion 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioA3" name="radiosFiltersA">
                                <label class="form-check-label" for="flexRadioA3">
                                    Opcion 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioA4" name="radiosFiltersA">
                                <label class="form-check-label" for="flexRadioA4">
                                    Opcion 4
                                </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <h4 class="mt-5">Filtros</h4>
                            <hr>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB">
                                <label class="form-check-label filter-name" for="flexCheckB">
                                  Filtro 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB-2">
                                <label class="form-check-label filter-name" for="flexCheckB-2">
                                  Filtro 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB-3">
                                <label class="form-check-label filter-name" for="flexCheckB-3">
                                  Filtro 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB-4">
                                <label class="form-check-label filter-name" for="flexCheckB-4">
                                  Filtro 4
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB-5">
                                <label class="form-check-label filter-name" for="flexCheckB-5">
                                  Filtro 5
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckB-6">
                                <label class="form-check-label filter-name" for="flexCheckB-6">
                                  Filtro 6
                                </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <h4 class="mt-5">Filtros</h4>
                            <hr>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioB" name="radiosFiltersB">
                                <label class="form-check-label" for="flexRadioB">
                                    Opcion 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioB2" name="radiosFiltersB">
                                <label class="form-check-label" for="flexRadioB2">
                                    Opcion 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioB3" name="radiosFiltersB">
                                <label class="form-check-label" for="flexRadioB3">
                                    Opcion 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="flexRadioB4" name="radiosFiltersB">
                                <label class="form-check-label" for="flexRadioB4">
                                    Opcion 4
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-xl-10 productsContenedor">

                <div class="row d-flex justify-content-end mb-4 orderContenedor">
                    <div class="col-auto d-block d-xl-none">
                        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Filtros</button>
                    </div>
                    <div class="col-auto d-block d-xl-none">
                        <select class="form-select" id="selectOrder">
                            <option selected>Relevantes</option>
                            <option value="1">Mayor Precio</option>
                            <option value="2">Menor Precio</option>
                        </select>
                    </div>
                    <label for="selectOrder" class="col-auto col-form-label d-none d-xl-block">Ordenar Por:</label>
                    <div class="col-2 d-none d-xl-block">
                        <select class="form-select" id="selectOrder">
                            <option selected>Relevantes</option>
                            <option value="1">Mayor Precio</option>
                            <option value="2">Menor Precio</option>
                        </select>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 productsContenido">


                    <div class="col product animate__animated animate__fadeIn" *ngFor="let producto of ListarProducto">
                        <div class="card">
                            <a  [routerLink]="['/viewproduct',producto.id_produc]"><h5 class="card-header">{{producto.nombre}}</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/59.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">{{producto.precio}}</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$ {{producto.precio}}.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por :<a href="#" data-bs-toggle="tooltip" title="{{producto.nombre_empresa}}"> {{producto.nombre_empresa}}</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <!--<div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/60.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/64.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/63.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/62.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/61.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/60.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/59.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col product">
                        <div class="card">
                            <a href="#" routerLink="/viewproduct"><h5 class="card-header">Nombre Del Producto</h5></a>
                            <div class="row g-0 d-flex justify-content-center">
                                <div class="col-5 align-self-center img-column">
                                    <a href="#" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../assets/images/58.jpg" alt=""></a>
                                </div>
                                <div class="col-7 align-self-center product-column">
                                    <div class="card-body">
                                        <div class="description mb-4">
                                            <strong class="product-description-title">Descripcion:</strong>
                                            <p class="product-description mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt vel ipsam voluptates est optio numquam.</p>
                                        </div>
                                        <div class="product-price mb-4">
                                            <span class="price d-block">$198.<small>00</small></span>
                                            <small class="shipment d-block">Envio Gratis!</small>
                                        </div>
                                        <div class="buttonsActions">
                                            <a class="btn btn-sm btn-purple w-100 mb-2 d-block" href="#" routerLink="/checkout">Comprar Ahora</a>
                                            <button class="btn btn-sm btn-outline-success w-100 d-block" type="button"><i class="bi bi-cart-plus me-1"></i>Agregar Al Carrito</button>
                                        </div>  
                                    </div>
                                </div>
                                <div class="product-info d-flex justify-content-between px-3 my-3">
                                    <small class="product-subcategory"><a href="#">Subcategoria</a></small>
                                    <small class="product-seller">Vendido Por:<a href="#"> NOMBRE DE VENDEDOR</a></small>
                                </div>  
                            </div>
                        </div>
                    </div>-->

                </div>

            </div>

        </div>
    </div>
</div>