.perfil-tab{
    .nav-tabs {
        .nav-link {
            padding-bottom: 15px;
            font-weight: 500;
            color: #4b566b;
            border: 0px solid transparent;
            transition: all .1s ease-in-out;
            &:hover {
                color: rgb(212, 132, 250);
                cursor: pointer !important;
            }
        }
        .nav-link.active {
            color: rgb(164, 49, 218);
            font-weight: 700;
            background-color: transparent;
            border-bottom: 1px solid rgb(230, 176, 255);
            cursor: pointer !important;
        }
    }
}