<div class="offcanvas offcanvas-end" id="cart-offcanvas" aria-labelledby="cartOffcanvasLabel" tabindex="-1">
    <div class="offcanvas-header border border-1">
        <!--<h5 id="cartOffcanvasLabel" class="mx-auto">Tu Carrito <span class="badge rounded-pill fw-bold">{{totalItem}}</span></h5>-->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="cart-product-wrapper">
            <div class="cart-product p-4"  *ngFor="let item of products; let i = index">
                <div class="d-flex align-items center">
                    <a  data-bs-dismiss="offcanvas">
                        <img src="{{item.image}}" alt="" class="rounded img-fluid cart-product-image">
                    </a>
                    <div class="w-100">
                        <!--<a href="#" class="btn-close close text-sm me-2 rounded-circle border border-2 p-2" aria-label="Close" (click)="removeItem(producto)"></a>-->
                        <div class="ps-3">


                            <a class="cart-product-link"  data-bs-dismiss="offcanvas">{{item.title}}</a>
                            <small class="text-muted d-block">Cantidad:1</small>
                            <strong>$ {{item.price}} MXM</strong>

                            
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="cart-total">
            <span class="text-uppercase text-muted">Subtotal</span>
            <strong >$ {{grandTotal}} </strong>
        </div>
        <div class="paygroup row p-5">
            <div class="col-12">
                <a href="" class="btn btn-outline-dark d-block mb-3" routerLink="/viewcart" data-bs-dismiss="offcanvas">Ver Carrito<i class="bi bi-arrow-bar-right fw-bold"></i></a>
                <a href="" class="btn btn-purple d-block" routerLink="/checkout" data-bs-dismiss="offcanvas">Checkout</a>
            </div>
        </div>
    </div>
</div>