<footer class="bg-dark">
    <div class="border-bottom border-bottom-custom-footer contenedor-1">
      <div class="container">

        <form class="row suscribete-footer mb-5">
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <label for="suscribete-email-input" class="form-label suscribete-email-label">Deseas Unirte?, Empieza Ahora!</label>
                    </div>
                </div>
  
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                        <input type="email" class="form-control form-control-custom-dark" id="suscribete-email-input" placeholder="Email*">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-custom-dark" type="submit">Suscribete</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row enlaces-footer d-flex justify-content-center">

          <div class="col-12 col-md-2 text-center text-lg-start">

            <h4 class="d-none d-md-block text-white mb-3">Bootstrap</h4>
            <ul class="d-none d-md-block list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter1" role="button" aria-expanded="false" aria-controls="collapseExample">Bootstrap</a>
            <div class="collapse" id="collapseEnlacesFooter1">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-twitter text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-instagram text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          
          </div>

          <div class="col-12 col-md-2 text-center text-lg-start">

            <h4 class="mb-3 d-none d-md-block text-white">Soporte</h4>
            <ul class="list-unstyled d-none d-md-block mb-5 mb-sm-0">
              <li>
                <a class="text-muted text-decoration-none" href="#">Contactanos</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">FAQs</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">Garantias &amp; Reembolsos</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter2" role="button" aria-expanded="false" aria-controls="collapseExample">Soporte</a>
            <div class="collapse" id="collapseEnlacesFooter2">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Contactanos</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">FAQs</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Garantias &amp; Reembolsos</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-12 col-md-2 text-center text-lg-start">

            <h4 class="mb-3 d-none d-md-block text-white">Empresa</h4>
            <ul class="list-unstyled d-none d-md-block mb-5 mb-sm-0">
              <li>
                <a class="text-muted text-decoration-none" href="#">Nosotros</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">Asociados</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">Terminos &amp; Condiciones</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">Politicas De Privacidad</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter3" role="button" aria-expanded="false" aria-controls="collapseExample">Empresa</a>
            <div class="collapse" id="collapseEnlacesFooter3">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Nosotros</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Asociados</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Terminos &amp; Condiciones</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">Politicas De Privacidad</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-12 col-md-2 text-center text-lg-start">

            <h4 class="mb-3 text-white d-none d-md-block">Contacto</h4>
            <ul class="list-unstyled mb-0 d-none d-md-block">
              <li>
                <a class="text-muted text-decoration-none" href="#">1-202-555-0105</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">1-202-555-0106</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">help@asociacion.com</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter4" role="button" aria-expanded="false" aria-controls="collapseExample">Contacto</a>
            <div class="collapse" id="collapseEnlacesFooter4">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">1-202-555-0105</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">1-202-555-0106</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">help@asociacion.coms</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>
        
      </div>
    </div>
    
    <div class="container contenedor-2">
      <div class="row">
        <div class="col">
          <p class="mb-3 mb-md-0 fw-light text-muted">
            © 2021 All rights reserved. Designed by ItizTeam.
          </p>
        </div>
        <div class="col-auto">
          <img class="metodopago-icon" src="./assets/icons/payment/paypal-f.svg" alt="...">
          <img class="metodopago-icon" src="./assets/icons/payment/mastercard square.svg" alt="...">
          <img class="metodopago-icon" src="./assets/icons/payment/visa-f.svg" alt="...">
          <img class="metodopago-icon" src="./assets/icons/payment/mp-f.svg" alt="...">
        </div>
      </div>
    </div>
</footer>