<div class="contenedor-carousel">
    <div id="mainpage-carousel" class="carousel carousel-main slide d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/images/carousel3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-lg-block carousel-caption-center">
                <div class="d-flex justify-content-end mb-3">
                    <h5 class="display-5">Titulo Del Elemento</h5>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <strong class="fs-6">Descripcion breve del elemento que se esta mostrando en pantalla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quibusdam cupiditate dolorem fuga fugiat rem minima nam totam facilis? Eligendi!</strong>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                </div>
            </div>
            <div class="carousel-caption d-block d-lg-none d-md-block">
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                 </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/carousel1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-lg-block carousel-caption-center">
                <div class="d-flex justify-content-end mb-3">
                    <h5 class="display-5">Titulo Del Elemento</h5>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <strong class="fs-6">Descripcion breve del elemento que se esta mostrando en pantalla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quibusdam cupiditate dolorem fuga fugiat rem minima nam totam facilis? Eligendi!</strong>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                </div>
            </div>
            <div class="carousel-caption d-block d-lg-none d-md-block">
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/carousel2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-lg-block carousel-caption-center">
                <div class="d-flex justify-content-end mb-3">
                    <h5 class="display-5">Titulo Del Elemento</h5>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <strong class="fs-6">Descripcion breve del elemento que se esta mostrando en pantalla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quibusdam cupiditate dolorem fuga fugiat rem minima nam totam facilis? Eligendi!</strong>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                </div>
            </div>
            <div class="carousel-caption d-block d-lg-none d-md-block">
                <div class="d-flex justify-content-end">
                    <a href="" routerLink="/viewproduct" class="btn btn-secondary me-3">Mas Informacion</a>
                    <a href="" routerLink="/viewproduct" class="btn btn-success">Comprar Ahora</a>
                 </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainpage-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainpage-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<div class="contenedor-main mb-5">
    <div class="container shadow rounded-3" style="background: rgb(255,255,255);">
        <div id="categories-carousel" class="carousel carousel-categories slide d-none d-md-block" data-bs-ride="carousel">
            <div class="carousel-inner py-4">
                <div class="carousel-item active" data-bs-interval="50000">
                    <div class="row d-flex justify-content-center">
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/clothe.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/car.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/refri.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/laptop.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="50000">
                    <div class="row d-flex justify-content-center">
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/refri.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/laptop.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/clothe.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                        <div class="col-2 category bg-light text-center p-3 mx-3 rounded-circle">
                            <a href="#" routerLink="/generalview" class="p-1">
                                <img src="../../../../assets/icons/car.png" alt="" class="img-fluid">
                                <small class="d-block">Categoria</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#categories-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#categories-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>

    <div class="container-md subcontenedor-main p-0 p-lg-5">
        <div class="row d-flex justify-content-between">
            <section class="col-12 col-lg-5 contenido-main order-2 order-lg-1">
                
                <div class="row mb-4 widget rounded-3 shadow">
                    <a href="#" routerLink="/generalview">

                        <div class="card bg-dark text-white">
                            <img src="../../../../assets/images/carousel1.jpg" class="card-img img-fluid" alt="...">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h5 class="card-title">Ofertas</h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="row mb-4 widget rounded-3 shadow">
                    <a href="#" routerLink="/generalview">

                        <div class="card bg-dark text-white">
                            <img src="../../../../assets/images/carousel2.jpg" class="card-img img-fluid" alt="...">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h5 class="card-title">Productos</h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="row mb-4 widget rounded-3 shadow">
                    <a href="#" routerLink="/generalview">

                        <div class="card bg-dark text-white">
                            <img src="../../../../assets/images/carousel3.jpg" class="card-img img-fluid" alt="...">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h5 class="card-title">Servicios</h5>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="row mb-4 widget rounded-3 shadow">
                    <a href="#">

                        <div class="card bg-dark text-white">
                            <img src="../../../../assets/images/carousel1.jpg" class="card-img card-img-special img-fluid" alt="...">
                            <div class="card-img-overlay card-suscripcion-body">
                                <h5 class="card-title">Suscripcion</h5>
                                <p class="card-text">Informacion acerca del sistema de suscripciones de la asoacion Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ab in facilis unde facere distinctio non minus assumenda at rem.</p>
                                <div class="text-center">
                                    <button class="btn btn-primary">Suscribirse</button>
                                </div>
                            </div>
                          </div>

                    </a>
                </div>
   
            </section>
            <aside class="col-12 col-lg-6 categorias order-1 order-lg-2">
                <div class="row categoria p-4 rounded-3 shadow mb-4" style="background: rgb(255,255,255);">
                    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 px-4 mb-4">
                        <a href="#" routerLink="/generalview" class="text-decoration-none text-dark">
                            <h2>Los Mas Vendidos</h2>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                            
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/64.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
                            <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/generalview">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="row categoria p-4 rounded-3 shadow mb-4" style="background: rgb(255,255,255);">
                    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 px-4 mb-4">
                        <a href="#" routerLink="/generalview" class="text-decoration-none text-dark">
                            <h2>Recien Agregados</h2>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                            
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/58.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/59.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/60.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/61.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/62.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/63.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                            <div class="card product-card">
                                
                                <a class="card-img-top d-block overflow-hidden" routerLink="/viewproduct"><img class="img-fluid img-product" src="../../../../../../assets/images/64.jpg" alt="Product"></a>
                               
                                <div class="card-body py-2">
                                    <h3 class="product-title"><a routerLink="/viewproduct">Nombre del Producto</a></h3>
                                    <div class="">
                                        <div class="product-price  d-block"><span>$198.<small>00</small></span></div>
                                    </div>
                                </div>
                                
                                <div class="text-center"><a class="btn-vista" href="#quick-view" data-bs-toggle="modal"><i class="bi bi-eye align-middle me-1"></i>Vista Rapida</a></div>
                              </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 align-self-center">
                            <div class="pt-3 text-center"><a class="btn btn-outline-secondary btn-sm" href="#" routerLink="/generalview">Ver Mas<i class="ci-arrow-right ms-1 me-n1"></i></a></div>
                        </div>
                    </div>
                </div>

                
            </aside>
        </div>
    </div>
</div>

<app-quick-view></app-quick-view>
