<div class="container-lg my-0 my-lg-5 px-0 px-lg-5 py-0 py-lg-5" style="background-color: rgb(255,255,255);">
    <nav class="px-5 d-none d-lg-block" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>' !important; margin-bottom: 50px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/main" class="text-decoration-none">Pagina De Inicio</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Departamentos</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Categoria</a></li>
          <li class="breadcrumb-item active" aria-current="page">Servicio</li>
        </ol>
    </nav>

    <div class="row d-flex justify-content-center ">

        <div class="order-2 order-lg-1 col-12 col-lg-6 me-0 me-lg-3 p-4 p-lg-0">
            <div class="row mb-4 d-flex justify-content-center">
                <div class="col-auto">
                    <h3 class="display-6">NOMBRE DEL SERVICIO</h3>
                    <div class="info">
                        <a href="#" class="text-decoration-none"><small class="d-block text-end">Categoria</small></a>
                        <a href="#" class="text-decoration-none" routerLink="/storeprofile"><small class="d-block text-end">Vendedor</small></a>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 mb-4">
                            <h5>Descripción:</h5>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et recusandae temporibus tempore tempora suscipit quam, ipsum esse non soluta.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-auto d-none d-lg-block">
                    <button type="submit" class="btn btn-secondary me-4 d-flex-inline">Agregar Al Carrito</button>
                    <button type="submit" class="btn btn-primary d-flex-inline">Comprar Ahora</button>
                </div>
                <div class="col-8 d-block d-lg-none">
                    <button type="submit" class="btn btn-secondary me-4 d-block w-100 mb-3">Agregar Al Carrito</button>
                    <button type="submit" class="btn btn-primary d-block w-100">Comprar Ahora</button>
                </div>
            </div>
        </div>


        <div class="order-1 order-lg-2 col-12 col-lg-auto mb-5 mb-lg-0">
            <div class="row d-flex justify-content-center">
                <div class="col-auto d-none d-lg-block">
                    <img src="../../../../../assets/images/servicio1.jpg" alt="" class="img-service rounded-3">
                </div>
                <div class="col-12 d-block d-lg-none">
                    <img src="../../../../../assets/images/servicio1.jpg" alt="" class="img-service-mobile w-100">
                </div>
            </div>
        </div>

    </div>

</div>