.img-service {
    width: 200px !important;
    height: 200px !important;
}

.product-label, h5{
    letter-spacing: 0.1px;
    font-weight: bold;
}

@media (min-width: 992px) {
    .img-service {
        width: 400px !important;
        height: 400px !important;
    }
}