<div class="container-lg my-0 my-lg-5 px-0 px-lg-5 py-5 shadow rounded-3 animate__animated animate__zoomIn" style="background-color: rgb(255,255,255);">
    <h2 class="display-4 text-center mb-3">Termina Tu Proceso De Registro</h2>
    <form [formGroup]="newUser" class="border-top border-1" (ngSubmit)="onSubmit()">

        <div class="row mb-4 mt-5 justify-content-center">
            <div class="row mb-2">
                <h4 class="display-6">Datos Personales</h4>
            </div>
            <div class="row mb-0 mb-xl-3">
                <div class="col-12 col-xl-6 col-md-6 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="nombres" placeholder="Nombre(s)"  formControlName="nombre_usuario">
                </div>

                <div class="col-12 col-xl-6 col-md-6 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="apellidop" placeholder="Apellidos"  formControlName="apellidos">
                </div>

             <!--   <div class="col-12 col-xl-3 col-md-6 mb-3 mb-xl-0 text-center align-self-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="opmasculino" value="option1" checked>
                        <label class="form-check-label" for="opmasculino">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="opfemenino" value="option2">
                        <label class="form-check-label" for="opfemenino">Femenino</label>
                    </div>
                </div>-->
            </div>
            <div class="row mb-0 mb-xl-3">
                <!--<div class="col-12 col-xl-6 mb-3 mb-xl-0">
                    <div class="row g-0">
                        <div class="col-4">
                            <label for="fechanacim" class="col-form-label">Fecha De Nacimiento</label>
                        </div>
                        <div class="col">
                          <input type="date" class="form-control" id="fechanacim">
                        </div>
                    </div>
                </div>-->

                <div class="col-12 col-xl-6 col-md-6 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="telefonof" placeholder="Telefono Fijo (10 Digitos)">
                </div>

                <div class="col-12 col-xl-6 col-md-6 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="telefonoc" placeholder="Telefono Celular (10 Digitos)"  formControlName="telefono">
                </div>

            </div>
            <div class="row">        
                <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                    <input type="email" class="form-control" id="correo" placeholder="Correo Electronico" formControlName="email">
                </div>
                <div class="col-12 col-xl-3 col-md-6 mb-3 mb-xl-0">
                    <input type="email" class="form-control" id="passwd1" placeholder="Contraseña"  formControlName="password">
                </div>
                <div class="col-12 col-xl-3 col-md-6 mb-3 mb-xl-0">
                    <input type="email" class="form-control" id="passwd2" placeholder="Confirmar Contraseña">
                </div>
            </div>
        </div>

        <div class="row mb-4 justify-content-center">

            <div class="row mb-2">
                <h4 class="display-6">Domicilio</h4>
            </div>
            <div class="row mb-0 mb-xl-3">
                <div class="col-12 col-md-6 col-xl-8 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="calle" placeholder="Calle" formControlName="calle">
                </div>

                <div class="col-6 col-md-3 col-xl-2 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="numeroext" placeholder="Numero Exterior" formControlName="no_exterior">
                </div>

                <div class="col-6 col-md-3 col-xl-2 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="numeroint" placeholder="Numero Interior" formControlName="no_interior">
                </div>
            </div>
            <div class="row mb-0 mb-xl-3">
                <div class="col-12 col-md-5 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="calle2" placeholder="Entre Calle" formControlName="entre_calle">
                </div>

                <div class="col-12 col-md-5 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="calle2" placeholder="Y Calle" formControlName="y_calle">
                </div>

                <div class="col-12 col-md-2 mb-3 mb-xl-0">
                    <input type="text" class="form-control" id="codigopostal" placeholder="Codigo Postal">
                </div>
            </div>
            <div class="row mb-0 mb-xl-3">
                <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                    <select name="edo" id="edo" class="form-select d-block w-100">
                        <option value="" *ngFor="let estado of ListarEstado">{{estado.nombre}}</option>
                        
                       <!-- <option value="cdmx">Ciudad De México</option>
                        <option value="toluca">Toluca</option>
                        <option value="cuernavaca">Cuernavaca</option>-->
                    </select>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                    <select name="local" id="local" class="form-select d-block w-100">
                        <option value="">Seleccionar Municipio o Alcaldia</option>
                    </select>
                </div>

                <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                    <select name="local" id="local" class="form-select d-block w-100">
                        <option value="" *ngFor="let colonia of ListarColonia">{{colonia.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-0 mb-xl-3 justify-content-end align-items-center">
                <div class="col-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="infoEnvio">
                        <label class="form-check-label" for="infoEnvio">Usar Informacion Para Proximos Envios</label>
                      </div>
                </div>
            </div>
        
        </div>

        <div class="row mb-4 justify-content-center">
            <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                <div class="row text-center mb-2">
                    <h4 class="display-6">Tipo De Cuenta</h4>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipoCuenta" id="grat" value="option1" checked>
                            <label class="form-check-label" for="grat">Usuario Gratis</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipoCuenta" id="suscr" value="option2">
                            <label class="form-check-label" for="suscr">Empresa</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                <div class="row mb-2">
                    <h4 class="text-center display-6">Metodo De Pago</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row d-flex justify-content-center align-items-center mb-3">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipoPago" id="paypal" value="option1" disabled>
                                    <label class="form-check-label" for="paypal">Paypal</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipoPago" id="debito" value="option2" checked>
                                    <label class="form-check-label" for="paypal">Tarjeta De Debito</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipoPago" id="credito" value="option3">
                                    <label class="form-check-label" for="paypal">Tarjeta De Credito</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-3" id="numTarjeta" placeholder="Nombre En La Tarjeta">
                                <input type="text" class="form-control mb-3" id="numTarjeta" placeholder="Numero En La Tarjeta">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control mb-3" id="añoTarjeta" placeholder="MM/YY">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="ccvTarjeta" placeholder="CCV">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
                <div class="row text-center mb-2">
                    <h4 class="display-6">Tiempo De Suscripcion</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <select name="edo" id="edo" class="form-select d-block">
                            <option value="">Seleccionar Tiempo</option>
                            <option value="cdmx">1 Mes</option>
                            <option value="toluca">3 Meses</option>
                            <option value="cuernavaca">6 Meses</option>
                            <option value="cuernavaca">1 Año</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-4 justify-content-center align-items-center">
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terminosCondiciones">
                    <label class="form-check-label" for="terminosCondiciones">Acepto <a href="#" style="text-decoration: none;">Terminos</a> y <a href="#" style="text-decoration: none;">Condiciones</a></label>
              </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <input type="submit" class="btn btn-purple"  value="Registrarse">
            </div>
        </div>
    </form>
   
</div>