<div class="home-tab animate__animated animate__zoomIn animate__faster">

    <h2 class="display-6">Resumen</h2>
    <hr class="mb-5">
    <div class="row d-flex justify-content-evenly align-items-center mb-3 mb-lg-5">
        <div class="col-auto p-2 img-thumbnail rounded bg-light">

            <div class="profile-photo position-relative">
                <div class="profile-button position-absolute top-0 end-0 d-md-none d-block">
                    <input type="file" id="selectedFile" style="display: none;" />
                    <button type="button" class="btn btn-photo-icon" onclick="document.getElementById('selectedFile').click();" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar Foto De Perfil"><i class="bi bi-pencil-square"></i></button>
                </div>
                <div class="profile-button position-absolute bottom-0 start-50 translate-middle-x d-md-block d-none">
                    <input type="file" id="selectedFile" style="display: none;" />
                    <button type="button" class="btn btn-photo-text" onclick="document.getElementById('selectedFile').click();">Cambiar Foto</button>
                </div>
                <img src="../../../../../assets/images/profile1.jpg" class="img-fluid" alt="Foto De Perfil" width="250" height="250">
            </div>

        </div>

        <div class="col-12 col-lg-7">
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-name" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Nombre:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="text" readonly class="form-control user-campo" id="user-name" value="Yorman Jesus Rojas Martinez" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-email" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Email:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="email" readonly class="form-control user-campo" id="user-email" value="l161080213@iztapalapa.tecnm.mx" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-phone" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Telefono:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="text" readonly class="form-control user-campo" id="user-phone" value="5584126053" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-12 col-lg-7">
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-address" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Direccion Principal:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="text" readonly class="form-control user-campo" id="user-address" value="Agustin Olachea Alvarez #504, Col. Hidalgo, CP.16798, Alc. Alvaro Obregon, CDMX" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-pay" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Metodo De Pago Principal:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="email" readonly class="form-control user-campo" id="user-pay" value="Cuenta Asociada de Paypal" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-type" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Tipo De Cuenta:</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="text" readonly class="form-control user-campo" id="user-type" value="Gratuito/Asociado" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-group" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Asociacion (Registrados):</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="text" readonly class="form-control user-campo" id="user-group" value="Nombre De Asociacion" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <label for="user-datesuscripcion" class="col-12 col-md-3 col-lg-4 col-form-label user-label">Proximo Pago:(Registrados):</label>
                <div class="col-12 col-md-6 col-lg-8">
                <input type="date" readonly class="form-control user-campo" id="user-datesuscripcion" value="2022-07-22" disabled>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-5 row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-auto text-center">
                    <button class="btn btn-purple">Asociate! (Gratuitos)</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <div class="form-floating">
                    <ul class="list-unstyled rounded-3 campo-floating shadow-sm">
                        <li class="mb-2"><a href="#">Elemento #1</a></li>
                        <li class="mb-2"><a href="#">Elemento #2</a></li>
                        <li class="mb-2"><a href="#">Elemento #3</a></li>
                        <li class="mb-2"><a href="#">Elemento #4</a></li>
                        <li class="mb-2"><a href="#">Elemento #5</a></li>
                        <li class="mb-2"><a [routerLink]="['/accountview/shoppinghistory']" class="more-link">...</a></li>
                    </ul>
                    <label class="labelfloating">Ultimas Compras:</label>
                </div>
            </div>
            <div class="mb-3 mt-4 mt-lg-0 row d-flex justify-content-center align-items-center">
                <div class="form-floating">
                    <ul class="list-unstyled rounded-3 campo-floating campo-floating shadow-sm">
                        <li class="mb-2"><a href="#">Elemento #1</a></li>
                        <li class="mb-2"><a href="#">Elemento #2</a></li>
                        <li class="mb-2"><a href="#">Elemento #3</a></li>
                        <li class="mb-2"><a href="#">Elemento #4</a></li>
                        <li class="mb-2"><a href="#">Elemento #5</a></li>
                        <li class="mb-2"><a [routerLink]="['/accountview/saleshistory']" class="more-link" >...</a></li>
                    </ul>
                    <label class="labelfloating">Ultimas Ventas:</label>
                </div>
            </div>
        </div>
    </div>


</div>