<div class="container shadow rounded-3 p-3 p-md-5 my-md-5 my-4" style="background-color: rgb(255,255,255);">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>' !important; margin-bottom: 50px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/main" class="text-decoration-none">Pagina De Inicio</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Departamentos</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Categoria</a></li>
          <li class="breadcrumb-item active" aria-current="page">Producto</li>
        </ol>
    </nav>

    <div class="row d-flex justify-content-center">

        <div class="col-auto me-0 me-md-2 mb-4 mb-md-0 ">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <div id="zoom-img"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 rounded-3 border border-1 py-5 shadow-lg">
            <div class="row mb-4 d-flex justify-content-center">
                <div class="col-auto">
                    <h3 class="display-6">Nombre Del Producto</h3>
                    <div class="info">
                        <a href="#" class="text-decoration-none"><small class="d-block text-end">Categoria</small></a>
                        <a href="#" class="text-decoration-none"><small class="d-block text-end">Vendedor</small></a>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 mb-4">
                            <h5>Descripción:</h5>
                            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et recusandae temporibus tempore tempora suscipit quam, ipsum esse non soluta.</p>
                        </div>
                        <div class="col-10 mb-4 colorselector">
                            <h5 class="me-3">Color:</h5>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input red" type="radio" name="inlineRadioOptions" value="rojo">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input green" type="radio" name="inlineRadioOptions" value="verde">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input yellow" type="radio" name="inlineRadioOptions" value="amarillo">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input blue" type="radio" name="inlineRadioOptions" value="azul">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input gray" type="radio" name="inlineRadioOptions" value="gris">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input white" type="radio" name="inlineRadioOptions" value="blanco">
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input black" type="radio" name="inlineRadioOptions" value="negro">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary mb-2 d-block w-100">Agregar Al Carrito</button>
                    <button type="submit" class="btn btn-primary d-block w-100">Comprar Ahora</button>
                </div>
            </div>
        </div>

    </div>

</div>