<div class="modal fade" id="sale-modal" tabindex="-1" aria-labelledby="saleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mb-5">
                    <div class="row d-flex justify-content-evenly align-items-center">
                        <div class="col-6">
                            <div class="row d-flex justify-content-start detalle-purchase">
                                <div class="col-12">
                                    <h3 class="d-block text-center fw-bold">Detalle De Venta</h3>
                                    <hr>
                                    <h4 class="d-block">Nombre Del Producto</h4>
                                    <small class="text-muted">Cantidad: <small class="text-muted">#</small></small>
                                    <br> <br>
                                    <strong class="d-block info">Fecha Del Pedido: <p class="d-inline">FECHA EN QUE SE REALIZO</p></strong>
                                    <strong class="d-block info">Estado: <p class="d-inline">ENTREGADO/EN VIAJE/CANCELADO</p></strong>
                                    <strong class="d-block info">Enviar A: <p class="d-inline">PERSONA A QUIEN SE LE ENVIA</p></strong>
                                    <strong class="d-block info">Direccion De Envio: <p class="d-inline">DIRECCION A DONDE SE ENVIA EL PEDIDO</p></strong>
                                    <br> <br>
                                    <div class="d-flex justify-content-center resume">
                                        <div class="col-10">
                                            <h4 class="d-block text-center fw-bold">Resumen</h4>
                                            <hr>
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-auto">
                                                    <div class="row d-flex justify-content-between">
                                                        <div class="col-4">
                                                            <strong class="d-block info">Producto(s):</strong>
                                                        </div>
                                                        <div class="col-4">
                                                            <p>1100.05</p>
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between">
                                                        <div class="col-4">
                                                            <strong class="d-block info">Envio:</strong>
                                                        </div>
                                                        <div class="col-4">
                                                            <p>100.00</p>
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between pt-2">
                                                        <hr>
                                                        <div class="col-4">
                                                            <strong class="d-block info">Total:</strong>
                                                        </div>
                                                        <div class="col-4">
                                                            <p>1200.05</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-center">
                            <div class="img-product">
                                <a href="#" routerLink="/viewproduct"><img src="../../../../../../../assets/images/62.jpg" alt="" class="img-fluid rounded-3"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>