<div class="shoppinghistory-tab animate__animated animate__zoomIn animate__faster">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="display-6">Historia De Compras</h2>
                <hr class="mb-4">   
                <div class="row d-flex justify-content-center">
                    <ol class="list-group list-group-numbered listaProductos pt-4">
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-4 listaProducto">
                            <a class="ms-4 me-auto descripcionProducto d-flex align-items-center text-decoration-none text-black" routerLink="/viewproduct">
                                <div class="d-inline">
                                    <img class="img-fluid img-product img-thumbnail" src="../../../../assets/images/58.jpg" alt="Product">
                                </div>
                                <div class="d-inline ms-4">
                                    <strong class="d-block mb-1">Nombre Del Producto</strong>
                                    <small class="d-block">Fecha De La Compra</small>
                                </div>
                            </a>
                          
                            <div class="actionsgroup">
                                <a class="btn btn-purple" [routerLink]="['/shoppinghistory/viewpruchase']">Ver Compra</a>
                            </div>
                        </li>  
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-4 listaProducto">
                            <a class="ms-4 me-auto descripcionProducto d-flex align-items-center text-decoration-none text-black" routerLink="/viewproduct">
                                <div class="d-inline">
                                    <img class="img-fluid img-product img-thumbnail" src="../../../../assets/images/59.jpg" alt="Product">
                                </div>
                                <div class="d-inline ms-4">
                                    <strong class="d-block mb-1">Nombre Del Producto</strong>
                                    <small class="d-block">Fecha De La Compra</small>
                                </div>
                            </a>
                          
                            <div class="actionsgroup">
                                <a class="btn btn-purple" [routerLink]="['/shoppinghistory/viewpruchase']">Ver Compra</a>
                            </div>
                        </li>  
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-4 listaProducto">
                            <a class="ms-4 me-auto descripcionProducto d-flex align-items-center text-decoration-none text-black" routerLink="/viewproduct">
                                <div class="d-inline">
                                    <img class="img-fluid img-product img-thumbnail" src="../../../../assets/images/60.jpg" alt="Product">
                                </div>
                                <div class="d-inline ms-4">
                                    <strong class="d-block mb-1">Nombre Del Producto</strong>
                                    <small class="d-block">Fecha De La Compra</small>
                                </div>
                            </a>
                          
                            <div class="actionsgroup">
                                <a class="btn btn-purple" [routerLink]="['/shoppinghistory/viewpruchase']">Ver Compra</a>
                            </div>
                        </li>  
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-4 listaProducto">
                            <a class="ms-4 me-auto descripcionProducto d-flex align-items-center text-decoration-none text-black" routerLink="/viewproduct">
                                <div class="d-inline">
                                    <img class="img-fluid img-product img-thumbnail" src="../../../../assets/images/61.jpg" alt="Product">
                                </div>
                                <div class="d-inline ms-4">
                                    <strong class="d-block mb-1">Nombre Del Producto</strong>
                                    <small class="d-block">Fecha De La Compra</small>
                                </div>
                            </a>
                          
                            <div class="actionsgroup">
                                <a class="btn btn-purple" [routerLink]="['/shoppinghistory/viewpruchase']">Ver Compra</a>
                            </div>
                        </li>  
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-4 listaProducto">
                            <a class="ms-4 me-auto descripcionProducto d-flex align-items-center text-decoration-none text-black" routerLink="/viewproduct">
                                <div class="d-inline">
                                    <img class="img-fluid img-product img-thumbnail" src="../../../../assets/images/62.jpg" alt="Product">
                                </div>
                                <div class="d-inline ms-4">
                                    <strong class="d-block mb-1">Nombre Del Producto</strong>
                                    <small class="d-block">Fecha De La Compra</small>
                                </div>
                            </a>
                          
                            <div class="actionsgroup">
                                <a class="btn btn-purple" [routerLink]="['/shoppinghistory/viewpruchase']" href="#">Ver Compra</a>
                            </div>
                        </li>  
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>