.enlaceAdd{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: all .1s ease-in-out;
    &:hover{
        color: #9100d4;
        text-decoration: underline;
    }
}

table{
    vertical-align:middle;
    thead{
        background: #000000;
        color: white;
        tr{
            th{
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    tbody{
        tr{
            background: #f2e6ff;
            td{
                font-size: 15px;
                button{
                    .icon-edit{
                        font-size: 20px;
                        color: rgb(150, 150, 150);
                        transition: color .2s ease-in-out;
                    }
                    .icon-drop{
                        font-size: 20px;
                        color: rgb(150, 150, 150);
                        transition: color .2s ease-in-out;
                    }
                    &:hover{
                        .icon-edit{
                            color: rgb(0, 0, 0);
                        }
                        .icon-drop{
                            color: rgb(182, 1, 1);
                        }
                    }
                    &:focus {
                        box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
                    }
                }
            }
            &:nth-child(even) {
                background:#ededed;
                th, td{
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}

/*
.productos-tab{
    .listaProductos{
        .listaProducto{
            background: rgb(206, 187, 218);
            .descripcionProducto{
                .img-product{
                    max-width: 104px;
                    max-height: 104px;
                }
            }
            .icon-edit{
                color: rgb(0, 0, 0);
            }
            .icon-drop{
                color: rgb(255, 50, 50);
            }
            &:nth-child(odd){
                background: rgb(96, 0, 156);
                color: rgb(255,255,255);
                .descripcionProducto{
                    strong, small{
                        color: rgb(255,255,255) !important;
                    }
                }
                .icon-edit{
                    color: rgb(232, 232, 232) !important;
                }
            }
        }
    }
}

*/