table{
    vertical-align:middle;
    thead{
        background: #56057c;
        color: white;
        tr{
            th{
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    tbody{
        tr{
            background: rgb(216, 196, 243);
            td{
                font-size: 15px;
                button{
                    .icon-edit{
                        font-size: 20px;
                        color: rgb(150, 150, 150);
                        transition: color .2s ease-in-out;
                    }
                    .icon-drop{
                        font-size: 20px;
                        color: rgb(150, 150, 150);
                        transition: color .2s ease-in-out;
                    }
                    &:hover{
                        .icon-edit{
                            color: rgb(0, 0, 0);
                        }
                        .icon-drop{
                            color: rgb(182, 1, 1);
                        }
                    }
                    &:focus {
                        box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
                    }
                }
            }
            &:nth-child(even) {
                background: rgb(123, 84, 175);
                th, td{
                    color: white;
                }
            }
        }
    }
}

/*
.productos-tab{
    .listaProductos{
        .listaProducto{
            background: rgb(206, 187, 218);
            .descripcionProducto{
                .img-product{
                    max-width: 104px;
                    max-height: 104px;
                }
            }
            .icon-edit{
                color: rgb(0, 0, 0);
            }
            .icon-drop{
                color: rgb(255, 50, 50);
            }
            &:nth-child(odd){
                background: rgb(96, 0, 156);
                color: rgb(255,255,255);
                .descripcionProducto{
                    strong, small{
                        color: rgb(255,255,255) !important;
                    }
                }
                .icon-edit{
                    color: rgb(232, 232, 232) !important;
                }
            }
        }
    }
}

*/